
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: whitesmoke; */
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 30px;
}

.form-container h1{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}

.control input{
    width: 100%;
    display: block;
    padding: 10px;
    border: none;
    outline: none;
    margin: 1em 0;
}

.control button{
    background-color: aqua;
}

@media screen and (max-width: 400px) {
    .form-container{
        width: 300px;
        padding: 25px 25px;
        border-radius: 5px;
        box-shadow: 3px 3px 15px;
    }
  }