.card-container {
  /* background-color: #f9fafa; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.card {
  border: 2px solid #17a589;
  transition: 0.3s all;
  border-radius: 3px;
  background-color: #fff;
  padding: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 340px;
  max-width: 95%;
}
.avatar img {
  border-radius: 50%;
  /* border: 4px solid #17a589; */
  width: 150px;
  height: 150px;
}

.title {
  font-size: 26px;
  margin-top: 18px;
  color: #17a589;
}

.description {
  font-size: 17px;
  margin-top: 18px;
  color: #64707d;
}

.follow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}


